# importing libraries

In [2]:
import pandas as pd

# import csv file

In [2]:
df = pd.read_csv('data/owid-covid-data.csv')

In [3]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383793,ZWE,Africa,Zimbabwe,2024-02-28,266355.0,0.0,0.714,5739.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
383794,ZWE,Africa,Zimbabwe,2024-02-29,266355.0,0.0,0.714,5739.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
383795,ZWE,Africa,Zimbabwe,2024-03-01,266355.0,0.0,0.714,5739.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
383796,ZWE,Africa,Zimbabwe,2024-03-02,266355.0,0.0,0.714,5739.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
383797,ZWE,Africa,Zimbabwe,2024-03-03,266358.0,3.0,0.429,5740.0,1.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

# Creating a new df deaths with chosen columns

In [4]:
df_deaths = df[['continent', 'location', 'date', 'population', 'total_cases', 
    'new_cases', 'total_deaths', 'new_deaths',]].copy()

# Saving the df deaths as csv

In [5]:
df_deaths.to_csv('data/new_covid_deaths.csv', index=False)

---

# Creating a new df vaccination with chosen columns

In [6]:
df_vaccinations =df[['continent', 'location', 'date', 'total_tests', 'new_tests', 
    'new_vaccinations']].copy()

# Saving the df vaccinations as csv

In [7]:
df_deaths.to_csv('data/new_covid_vaccinations.csv', index=False)

---

In [8]:
new_df = pd.read_excel('data/CovidDeaths.xlsx')

In [9]:
new_df

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85166,ZWE,Africa,Zimbabwe,2021-04-26,14862927.0,38102.0,16.0,34.714,1560.0,3.0,...,0.067,1.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85167,ZWE,Africa,Zimbabwe,2021-04-27,14862927.0,38164.0,62.0,41.286,1565.0,5.0,...,0.106,1.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85168,ZWE,Africa,Zimbabwe,2021-04-28,14862927.0,38191.0,27.0,30.143,1565.0,0.0,...,0.096,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85169,ZWE,Africa,Zimbabwe,2021-04-29,14862927.0,38235.0,44.0,31.000,1567.0,2.0,...,0.115,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85170,ZWE,Africa,Zimbabwe,2021-04-30,14862927.0,38257.0,22.0,30.286,1567.0,0.0,...,0.106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
new_df.to_csv('data/covid_d.csv', index=False)

NameError: name 'new_df' is not defined

In [6]:
new_df_v = pd.read_excel('data/CovidVaccinations.xlsx')

In [7]:
new_df_v

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85166,ZWE,Africa,Zimbabwe,2021-04-26,1495.0,484446.0,32.594,0.101,1722.0,0.116,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85167,ZWE,Africa,Zimbabwe,2021-04-27,2355.0,486801.0,32.753,0.158,1703.0,0.115,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85168,ZWE,Africa,Zimbabwe,2021-04-28,2025.0,488826.0,32.889,0.136,1716.0,0.115,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85169,ZWE,Africa,Zimbabwe,2021-04-29,NaN,NaN,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
85170,ZWE,Africa,Zimbabwe,2021-04-30,NaN,NaN,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [8]:
new_df_v.to_csv('data/covid_v.csv', index=False)